<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>1pass4all安装</title>
    </head>
    <body>
        <h2>1pass4all ($VERSION版)</h2>

        <p>
        <a href="http://hzheng.github.com/1pass4all">1pass4all</a>是
        一个书签工具（bookmarklet），用于方便而安全地生成密码。
        </p>
        <h3>安装指南：</h3>
        <p>
            在Firefox、Chrome、Safari和Opera浏览器上，只需将链接
            <a id="bookmarklet1" href='javascript: 
                $SCRIPT
            '>1pass4all</a>直接拖至书签栏即可，或用鼠标右键加到书签中。
        </p>

        <p>
            但在IE浏览器中，则<strong>必须</strong>将链接
            <a id="bookmarklet2" href='javascript:_1pass4all_settings={salt:"$SALT"};s=document.createElement("script");s.type="text/javascript";s.src="$SCRIPT_URL";document.body.appendChild(s);void(0);'>1pass4all</a>加入收藏栏（favorites bar）。
        </p>
 
        <p>
            如果您由于某种原因无法或不愿安装此工具（如在手机上或在他人的电脑上），
            不妨试试<a href="mobile.html">移动版</a>。
        </p>
 
        <p>
            高级用户可从GitHub上检出该项目
            （<code>git clone git://github.com/hzheng/1pass4all</code>），
            然后阅读README。
        </p>

        <h3>注：</h3>
        <p>
            为了更安全，在安装前最好修改一下
            <a href="http://en.wikipedia.org/wiki/Salt_(cryptography)">salt（盐）</a>
            （若您已在Makefile中修改过并正是用make生成的该页面，则可忽略此注）。<br/>
            请注意在不同的浏览器或机器上的盐必须相同，否则将互不兼容。
        </p>
        <p>
            旧salt：<br/>
            <input size="64" readonly="true" value='$SALT'/><br/>
            新salt（任意随机字符串，但引号'或"会被忽略）：<br/>
            <input id="salt" size="64" value=''/>
            <a href="javascript:createSalt()">自动生成</a><br/>
            <button onclick="changeSalt()">换salt</button>
        </p>
        <script src="install.js" type="text/javascript"></script>
    </body>
</html>
