<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>1pass4all安装</title>
        <link href="install.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h2>1pass4all ($VERSION版) <a href="install.html">English</a></h2>

        <p>
            <a href="http://hzheng.github.com/1pass4all">1pass4all</a>是
            一个小书签（bookmarklet，或译为书签工具），用于方便而安全地生成密码。
            更详细的介绍可参见
            <a href="http://en.zhenghui.org/2012/02/26/one-pass-for-all-intro_CN/">此文</a>。
        </p>

        <h3>定制：</h3>
        <p>
            为了更安全起见，在安装之前您最好定制一下（尤其是
            <a href="http://en.wikipedia.org/wiki/Salt_(cryptography)">密码盐</a>）。
        </p>

        <div>
            <label>密码长度：</label>
            <input type="hidden" id="passLenHidden" value="$PASS_LEN"/>
            <select id="passLen"></select>
            （越长越安全）<br/>
 
            <label>密码字符集：</label>
            <input type="hidden" id="passBaseHidden" value="$PASS_BASE"/>
            <select id="passBase">
                <option value="94">
                    所有可打印字符
                </option>
                <option value="64">
                    字母、数字以及+和/
                </option>
                <option value="62">
                    字母和数字
                </option>
                <option value="10">
                    只含数字
                </option>
            </select>
            （字符范围越广越安全）<br/>
            <label>迭代次数：</label>
            <input id="iteration" maxlength="4" value="$ITERATION"/>
            （范围0-9999，次数越多越安全，但生成速度越慢）<br/>
            <label>密码盐（salt）：</label>
            <input id="salt" size="64" value="$SALT"/>
            （强烈建议<a href="javascript:newSalt()">换盐</a>）
            <br/>
            <label>自动登陆：</label>
            <input type="hidden" id="autoSubmitHidden" value="$AUTO_SUBMIT"/>
            <input type="checkbox" id="autoSubmit"/>
            （在登陆页面填完主密码后点击标签工具将自动提交）
            <br/>
            <label>&nbsp;</label>
            <button onclick="customize('定制完成', '正在定制…')">定制</button>
            <span id="msg"></span>
        </div>

        <h3>安装：</h3>
        <div>
            <div class="version">
                <a id="bookmarklet_ie" href='javascript:_1pass4all_settings={salt:"$SALT",iteration:"$ITERATION",passLen:"$PASS_LEN",passBase:"$PASS_BASE",autoSubmit:"$AUTO_SUBMIT"};s=document.createElement("script");s.type="text/javascript";s.src="$SCRIPT_URL";document.body.appendChild(s);void(0);'>IE版</a>
                <span>（用于IE浏览器）</span><br/>
                <div class="description">
                    将以上链接用鼠标拖至收藏栏，或用右键加到收藏栏。
                </div>
            </div>
            <div class="version">
                <a id="bookmarklet" href='javascript: 
                $SCRIPT
                '>非IE版</a>
                <span>（用于非IE浏览器，如Firefox、Chrome、Safari、Opera）</span><br/>

                <div class="description">
                    将以上链接用鼠标拖至书签栏，或用右键加到书签栏。
                </div>
            </div>
            <div class="version">
                <a href="mobile.html">移动版</a>
                <span>（用于手机、他人电脑、非信任网站或非浏览器应用上）</span><br/>

                <div class="description">
                    将以上链接保存为书签或本地的HTML文件。
                </div>
            </div>
            <div class="version">
                <a id="mobile_offline" href="
                    $MOBILE_URL
                    ">
                移动离线版</a>
                <span>（供移动设备离线使用）</span><br/>

                <div class="description">
                    以iOS设备为例，在其上用Safari打开此页，点击以上链接进入1pass4all，
                    然后添加至主屏幕。
                </div>
            </div>
            <div class="version">
                <a href="https://github.com/hzheng/1pass4all">自制版</a>
                <span>（供高级用户使用）</span><br/>

                <div class="description">
                    高级用户可通过以上链接在GitHub上检出该项目，然后阅读README文件。
                </div>
            </div>
        </div>

        <h3>用法：</h3>
        <p>
            基本用法可用以下两个简单场景来描述，更高级的用法请参见
            <a href="https://github.com/hzheng/1pass4all/blob/master/README.rst">
            README文件</a>的用法部分。
        </p>
        <li>用1pass4all更换密码</li>
        <p>
            想好一个秘密的强密码（以下称“主密码”），登陆到某个网站后，转到更换密码页面。
            在“新密码”栏中填入主密码，然后点击1pass4all小书签。一个新密码将产生并
            在原地替换主密码。若有“确认新密码”栏，则重复上述步骤。保存变化并登出帐户。
        </p>
        <li>用1pass4all登陆</li>
        <p>
            回到登陆页面，输入用户名后在密码栏输入主密码，点击1pass4all小书签。
            与前面一样，实际密码将替换主密码，唯一不同的是，1pass4all这次会
            自动提交登陆表单（前提是已启用“自动登陆”选项）。
        </p>
 
        <hr/>
        <div class="note">
            <em>注：</em>
            <p>
                点击<span class="button">定制</span>按钮将更新IE版和非IE版的小书签。
                自制版可通过编辑Makefile中的相应变量来定制。
                至于移动版，如果不想每次在新页面都调整各项参数，您需要从Makefile
                中生成移动版的页面，或者手工编辑移动版的HTML文件。
            </p>
            <strong>警告：</strong>
            <p>
                您必须保证安装在不同浏览器或电脑上的小书签（或移动版的书签）
                均采用相同参数（包括密码长度、密码字符集、迭代次数和密码盐）。
                否则，它们将<span style="font-weight:bold">互不兼容</span>。
                请务必牢记主密码于心，并妥善保存相关参数，遗忘或丢失其中任何
                一样都将无法生成正确密码。
            </p>
            <p>
                再次提醒：如果您并不完全信任某网站，建议使用移动版而非小书签。
            </p>
            <strong>免责声明：</strong>
            <p>
                本软件免费使用，风险自担。
            </p>
        </div>
        
        <script src="install.js" type="text/javascript"></script>
    </body>
</html>
