<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>1pass4all's installation</title>
    </head>
    <body>
        <h2>1pass4all (version $VERSION)</h2>

        <p>
        <a href="http://hzheng.github.com/1pass4all">1pass4all</a> is 
        a bookmarklet to create passwords easily and securely.
        </p>
        <h3>Installation instructions:</h3>
        <p>
            For browsers like Firefox, Chrome, Safari and Opera, we recommend you 
            drag the link <a id="bookmarklet1" href='javascript: 
                $SCRIPT
            '>1pass4all</a> to bookmarks bar, or right click it to add to your bookmarks.
        </p>

        <p>
            For Internet Explorer, whose bookmarklet(or favelet) has size limit,
            you MUST instead drag this link
            <a id="bookmarklet2" href='javascript:_1pass4all_settings={salt:"$SALT"};s=document.createElement("script");s.type="text/javascript";s.src="$SCRIPT_URL";document.body.appendChild(s);void(0);'>1pass4all</a> to favorites bar.
        </p>
 
        <p>
            If you cannot or don't want to install bookmarket for some reason
            (e.g. on a mobile or on other's computer), please try the <a
                href="mobile.html">mobile version</a>.
        </p>
 
        <p>
            An advanced user can check out the project on the master branch
            (<code>git clone git://github.com/hzheng/1pass4all</code>),
            then check the README file.
        </p>

        <h3>Note:</h3>
        <p>
            Before installation, you may change the 
            <a href="http://en.wikipedia.org/wiki/Salt_(cryptography)">salt</a> for better security
            (<em>ignore it if you have manually generated this page by make</em>).<br/>
            You MUST make sure the bookmarklets installed on different browsers or machines have the same salt,
            otherwise they are NOT compatible.
        </p>
        <p>
            Old salt: <br/>
            <input size="64" readonly="true" value='$SALT'/><br/>
            New salt(any random characters except quotes):<br/>
            <input id="salt" size="64" value=''/>
            <a href="javascript:createSalt()">auto create</a><br/>
            <button onclick="changeSalt()">change salt</button>
        </p>
        <script>
            var saltInput = document.getElementById("salt");
            function createSalt(size) {
                // base64 characters
                var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/".split("");
                var maxCharIndex = chars.length - 1;
                var salts = [];
                for (var i = size || 32; i > 0; --i) {
                    salts.push(chars[Math.floor(Math.random() * maxCharIndex)]);
                }
                saltInput.value = salts.join("");
            }

            function changeSalt() {
                var salt = saltInput.value.replace(/['"]/g, "");
                var saltRegex = /(salt:")[^"]*"/;
                var bookmarklet1 = document.getElementById("bookmarklet1");
                bookmarklet1.href = bookmarklet1.href.replace(saltRegex, "$1" + salt + '"');
                var bookmarklet2 = document.getElementById("bookmarklet2");
                // Safari need unescape
                bookmarklet2.href = unescape(bookmarklet2.href).replace(saltRegex, "$1" + salt + '"');
            }
        </script>
    </body>
</html>

