<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>1pass4all's installation</title>
    </head>
    <body>
        <h2>1pass4all's installation</h2>
        <p>
            Please drag the link <a href='javascript: 
            $SCRIPT
            '>1pass4all</a> to your browser's bookmarks bar,
            or copy the <a href="bookmark.url">script</a> into a bookmark's URL.
        </p>

        <p>
            <strong>Exception</strong>: since IE's bookmarklet(or favelet) has size limit, you have to drag
            <a href='javascript:s=document.createElement("script");s.type="text/javascript";s.src="
                $SCRIPT_URL
                ";document.body.appendChild(s);void(0);'>1pass4all</a> to IE's favorites bar.
        </p>
        <p>
            <em>Warning</em>: The script in IE will NOT be compatible with those in other browsers,
            unless they have the same salts.
        </p>
    </body>
</html>

