<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no"/>
        <link rel="apple-touch-icon" href="1pass4all.png">
 
        <style type="text/css">
			body {
				margin: 0;
				padding: 5px;
				font-size: 1em;
			}
            h2 {
                text-align: center;
			}
            h2 a {
                text-decoration: none;
            }
            #onePassForAllWrapper {
                margin: 1px auto;
                width: 100%;
			}
        </style>
        <title>1Pass4All</title>
    </head>
    <body>
        <h2><a href="$APP_HOME_URL">1Pass4All ($VERSION)</a></h2>
        <div id="_1pass4all_wrapper"/>
        <script>
            $SCRIPT
        </script>
    </body>
</html>
